name: release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "New version"
        required: true

run-name: "Release ${{ inputs.version }}"

jobs:
  release:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Cache Kotlin/Native binaries
        uses: actions/cache@v5
        with:
          path: ~/.konan
          key: konan-${{ runner.os }}

      - name: Release
        uses: joffrey-bion/gradle-library-release-action@v2
        with:
          version: ${{ inputs.version }}
          gpg-signing-key: ${{ secrets.GPG_SECRET_ASCII_ARMORED }}
          gpg-signing-password: ${{ secrets.GPG_PASSWORD }}
          sonatype-username: ${{ secrets.MAVEN_CENTRAL_TOKEN_USERNAME }}
          sonatype-password: ${{ secrets.MAVEN_CENTRAL_TOKEN_PASSWORD }}
          gradle-publish-tasks: publishAndReleaseToMavenCentral
